.card-section {
  display: flex;
  margin: 0.5em 0;
  border-radius: 1.2em;
  padding: 0.5em 1em 0.5em 2em;
  align-items: center;
  justify-content: space-between;
  min-height: 3.3em;
  max-height: max-content;
  position: relative;
}

.card-section-hover {
  background-color: #200202 !important;
  box-shadow: 0 0 5em #0e0d0d65 !important;
}

.t-section {
  display: flex;
}

.rt-sec {
  margin: 0em 1em 0 1.2em;
}

.c-text {
  font-size: 1em;
}

.r-text {
  font-size: 1.05em;
  white-space: pre-wrap;
  line-break: auto;
}

.r-text > span {
  display: inline-block;
}

.r-text > span::first-letter {
  text-transform: capitalize;
}

.re-td-section {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 1;
}

.er-sec {
  background-color: orange;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2em;
  cursor: pointer;
}

.er-sec > svg {
  height: 0.8em;
  width: 0.8em;
}

.completed-td-section > svg {
  height: 1.1em;
  width: 1.1em;
}

.completed-td-section > svg > path {
  fill: #ffffff;
}
